@import '@plasma-platform/tm-css/helpers.pcss';

.App {
  padding: 20px;

  &__title {
    font-size: 24px;
  }

  &__link {
    margin: 0 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__menu {
    margin: 20px -5px;
  }
}
